.homepage
    .hero-section
        position: relative
        z-index: 10
        .animation-screen
            display: flex
            padding: 2rem 0
            height: 65vh
            background-color: #e3e3e3
            .hero-hand-img
                position: absolute
                right: 600px
                bottom: 0
                img
                    width: 200px
            .hero-main-img
                position: absolute
                right: 0
                bottom: 0
                height: 100%
                div
                    background-color: #d2d5e5
                    height: 110%
                    width: 550px
                    border-radius: 900px 0px 0px 400px
                    position: absolute
                    right: 0
                    bottom: 0
                    z-index: 99
                img
                    height: 100%
                    position: relative
                    z-index: 100
                    border-radius: 900px 0px 0px 400px