body {
  box-sizing: border-box !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

.h1-styles {
  color: #707070 !important;
  font-weight: 700;
}
.h1-styles span {
  color: white !important;
  background-color: #2b3990 !important;
  padding: 0rem 0.5rem;
}

.rahma-nav {
  box-shadow: 0px 1px 10px #34598a;
  position: relative;
  z-index: 100;
}
.rahma-nav .email-phone {
  background-color: #2b3990;
  width: 100%;
  padding: 0.5rem 0 !important;
}
.rahma-nav .email-phone .container {
  margin-inline: auto !important;
}
@media (max-width: 991px) {
  .rahma-nav .email-phone .container {
    text-align: center;
  }
}
.rahma-nav .email-phone .container a {
  color: white;
  text-decoration: none;
  margin: 0rem 0.5rem !important;
  font-size: 19px;
}
.rahma-nav .email-phone .container a i {
  margin-right: 0.3rem;
}
@media (max-width: 357px) {
  .rahma-nav .email-phone .container a i {
    margin: 0rem 0.1rem !important;
  }
}
@media (max-width: 600px) {
  .rahma-nav .email-phone .container a {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .rahma-nav .email-phone .container a {
    font-size: 13px;
    margin: 0rem 0.2rem !important;
  }
}
@media (max-width: 357px) {
  .rahma-nav .email-phone .container a {
    font-size: 11px;
    margin: 0rem 0.2rem !important;
  }
}
.rahma-nav .prand-links {
  background-color: #e3e3e3;
}
.rahma-nav .prand-links .container .navbar {
  background-color: transparent !important;
  padding: 0 !important;
}
.rahma-nav .prand-links .container .navbar .container-fluid {
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .rahma-nav .prand-links .container .navbar .container-fluid {
    flex-wrap: nowrap;
    width: 100% !important;
  }
}
.rahma-nav .prand-links .container .navbar .container-fluid .navbar-brand img {
  max-width: 110px;
  margin-top: 0.5rem;
}
@media (max-width: 991px) {
  .rahma-nav .prand-links .container .navbar .container-fluid .navbar-brand img {
    max-width: 90px !important;
  }
}
@media (max-width: 600px) {
  .rahma-nav .prand-links .container .navbar .container-fluid .navbar-brand img {
    max-width: 60px !important;
  }
}
.rahma-nav .prand-links .container .navbar .container-fluid .donate-btn {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rahma-nav .prand-links .container .navbar .container-fluid .donate-btn button {
  background-color: #2b3990;
  width: 100px;
  color: white;
  border: none;
  outline: none;
  margin: -1.5rem 2rem 0 0;
  font-weight: 600;
  padding: 2.5rem 0;
  border-radius: 0 0 25px 25px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 991px) {
  .rahma-nav .prand-links .container .navbar .container-fluid .donate-btn button {
    margin: -1.5rem 1rem 0 0 !important;
  }
}
.rahma-nav .prand-links .container .navbar .container-fluid .donate-btn button:hover {
  background-color: #2b7634;
}
@media (max-width: 991px) {
  .rahma-nav .prand-links .container .navbar .container-fluid .donate-btn button {
    width: 80px;
    font-size: 17px;
    padding: 2rem 0;
    margin: -2.5rem 2rem 0 0;
  }
}
@media (max-width: 600px) {
  .rahma-nav .prand-links .container .navbar .container-fluid .donate-btn button {
    font-size: 15px;
    padding: 1.5rem 0;
  }
}
@media (max-width: 425px) {
  .rahma-nav .prand-links .container .navbar .container-fluid .donate-btn button {
    width: 65px;
  }
}
@media (max-width: 350px) {
  .rahma-nav .prand-links .container .navbar .container-fluid .donate-btn button {
    margin-right: 0.5rem !important;
  }
}
.rahma-nav .prand-links .container .navbar .container-fluid .donate-btn img {
  max-width: 150px;
  height: 60px;
}
@media (max-width: 991px) {
  .rahma-nav .prand-links .container .navbar .container-fluid .donate-btn img {
    max-width: 100px !important;
    height: 45px;
    margin-right: 1rem;
  }
}
@media (max-width: 600px) {
  .rahma-nav .prand-links .container .navbar .container-fluid .donate-btn img {
    max-width: 80px !important;
    height: 30px;
  }
}
@media (max-width: 350px) {
  .rahma-nav .prand-links .container .navbar .container-fluid .donate-btn img {
    margin-right: 0.5rem;
  }
}
.rahma-nav .prand-links .container .navbar .container-fluid .navbar-toggler {
  padding: 0.25rem 0.5rem !important;
  box-shadow: none !important;
}
.rahma-nav .prand-links .container .navbar .container-fluid .navbar-toggler span {
  transition: all 0.2s ease-in-out;
}
@media (max-width: 991px) {
  .rahma-nav .prand-links .container .navbar .navbar-collapse {
    position: absolute;
    top: 110%;
    width: 100%;
    left: 0;
    padding: 0.5rem;
    background-color: #e3e3e3;
    border-radius: 0px 0px 20px 20px;
  }
}
.rahma-nav .prand-links .container .navbar .navbar-collapse .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem !important;
}
@media (max-width: 991px) {
  .rahma-nav .prand-links .container .navbar .navbar-collapse .navbar-nav {
    justify-content: flex-start;
    text-align: center;
    max-height: none;
    margin: 0 !important;
    max-height: none !important;
  }
}
.rahma-nav .prand-links .container .navbar .navbar-collapse .navbar-nav a {
  color: #414141;
  font-weight: 600;
  font-size: 20px;
  margin: 0 1.5rem;
  transition: all 0.5s ease-in-out;
}
.rahma-nav .prand-links .container .navbar .navbar-collapse .navbar-nav a:hover {
  color: #2b7634;
}
.rahma-nav .prand-links .container .navbar .navbar-collapse .navbar-nav a:first-of-type {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.rahma-nav .prand-links .container .navbar .navbar-collapse .navbar-nav a:last-of-type {
  margin-right: 0 !important;
  padding-right: 0 !important;
}
@media (max-width: 1399px) {
  .rahma-nav .prand-links .container .navbar .navbar-collapse .navbar-nav a {
    margin: 0 1rem;
    font-size: 18px;
  }
}
@media (max-width: 1199px) {
  .rahma-nav .prand-links .container .navbar .navbar-collapse .navbar-nav a {
    margin: 0 0.2rem;
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .rahma-nav .prand-links .container .navbar .navbar-collapse .navbar-nav a {
    background-color: #f1f1f1e1;
    margin: 0.2rem 0 !important;
    border-radius: 15px;
    width: 50%;
    margin-inline: auto !important;
  }
  .rahma-nav .prand-links .container .navbar .navbar-collapse .navbar-nav a:last-of-type {
    margin-inline: auto !important;
  }
  .rahma-nav .prand-links .container .navbar .navbar-collapse .navbar-nav a:first-of-type {
    margin-inline: auto !important;
  }
}
@media (max-width: 355px) {
  .rahma-nav .prand-links .container .navbar .navbar-collapse .navbar-nav a {
    width: 60%;
  }
}

.Footer {
  padding: 3rem 0;
}
@media (max-width: 991px) {
  .Footer .container.col-10 {
    width: 100% !important;
  }
}
.Footer .container.col-10 .footer-children {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .Footer .container.col-10 .footer-children {
    flex-wrap: wrap;
  }
}
.Footer .container.col-10 .footer-children .usful-links {
  width: 20%;
  margin: 0 0.5rem;
}
@media (max-width: 991px) {
  .Footer .container.col-10 .footer-children .usful-links {
    width: 30%;
    margin-bottom: 2rem;
  }
}
.Footer .container.col-10 .footer-children .usful-links ul {
  padding: 0 !important;
  list-style: none;
}
.Footer .container.col-10 .footer-children .usful-links ul li {
  color: white;
  margin: 0.5rem 0;
  padding: 0.4rem 0;
  font-size: 20px;
  border-bottom: 2px dashed gray;
}
.Footer .container.col-10 .footer-children .usful-links ul li:first-of-type {
  margin: 0rem !important;
}
@media (max-width: 1199px) {
  .Footer .container.col-10 .footer-children .usful-links ul li {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .Footer .container.col-10 .footer-children .usful-links {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.Footer .container.col-10 .footer-children .contact {
  height: 100%;
  padding-bottom: 2rem;
  width: 25%;
  margin: 0rem 3rem;
  border-bottom: 2px dashed gray;
}
.Footer .container.col-10 .footer-children .contact h5 {
  color: white;
  border-bottom: 2px dashed gray;
  padding-bottom: 1rem;
}
.Footer .container.col-10 .footer-children .contact a {
  color: white;
  text-decoration: none;
}
.Footer .container.col-10 .footer-children .contact a i {
  margin-right: 0.5rem;
  margin-top: 1rem;
}
@media (max-width: 991px) {
  .Footer .container.col-10 .footer-children .contact {
    width: 40%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 500px) {
  .Footer .container.col-10 .footer-children .contact {
    width: 100%;
    margin: 1rem 0.5rem 2.5rem 0 !important;
  }
}
.Footer .container.col-10 .footer-children .rahma-message {
  width: 50%;
  color: white;
}
.Footer .container.col-10 .footer-children .rahma-message img {
  max-width: 300px;
  border-bottom: 2px dashed gray;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 650px) {
  .Footer .container.col-10 .footer-children .rahma-message img {
    max-width: 250px;
  }
}
.Footer .container.col-10 .footer-children .rahma-message h5 {
  font-weight: 300;
}
@media (max-width: 500px) {
  .Footer .container.col-10 .footer-children .rahma-message {
    width: 100%;
  }
}
.Footer .container.col-10 .footer-children .rahma-message .social-icons {
  display: flex;
}
.Footer .container.col-10 .footer-children .rahma-message .social-icons a {
  background-color: white;
  margin: 1rem 0.5rem;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
}
.Footer .container.col-10 .footer-children .rahma-message .social-icons a i {
  color: #2b3990;
  font-weight: 600;
}
.Footer .container.col-10 .footer-children .rahma-message .social-icons a:hover i {
  transition: all 0.5s ease-in-out;
  color: #2b7634;
}
.Footer .container.col-10 .footer-sign-up {
  margin: 1rem 0;
  display: flex;
}
@media (max-width: 1199px) {
  .Footer .container.col-10 .footer-sign-up {
    flex-direction: column !important;
  }
}
.Footer .container.col-10 .footer-sign-up h2 {
  color: white;
  width: 40%;
}
@media (max-width: 1399px) {
  .Footer .container.col-10 .footer-sign-up h2 {
    width: 50%;
  }
}
@media (max-width: 1199px) {
  .Footer .container.col-10 .footer-sign-up h2 {
    width: 100%;
  }
}
.Footer .container.col-10 .footer-sign-up form {
  width: 60%;
}
@media (max-width: 1199px) {
  .Footer .container.col-10 .footer-sign-up form {
    width: 100%;
    height: 45px;
    margin-top: 1rem;
  }
}
@media (max-width: 577px) {
  .Footer .container.col-10 .footer-sign-up form {
    flex-direction: column;
    display: flex;
  }
}
@media (max-width: 577px) {
  .Footer .container.col-10 .footer-sign-up form {
    height: auto !important;
  }
}
.Footer .container.col-10 .footer-sign-up form input {
  margin: 0 0.5rem;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 0 1rem;
  width: 30%;
  font-weight: 600;
  height: 100%;
}
.Footer .container.col-10 .footer-sign-up form input:last-of-type {
  background-color: gray;
  color: white;
  width: 20%;
}
@media (max-width: 577px) {
  .Footer .container.col-10 .footer-sign-up form input:last-of-type {
    width: 50%;
    margin: auto;
    margin-top: 1rem;
  }
}
@media (max-width: 577px) {
  .Footer .container.col-10 .footer-sign-up form input {
    margin: 0.5rem 0;
    min-height: 40px;
    width: 100%;
  }
}

.copyright {
  background-color: #2b3990;
  padding: 1rem 0;
  text-align: center;
}
.copyright p {
  margin-bottom: 0 !important;
  color: white;
  font-weight: 600;
}
@media (max-width: 768px) {
  .copyright p {
    font-size: 13px;
  }
}

.homepage .hero-section {
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.homepage .hero-section .animation-screen {
  display: flex;
  padding: 2rem 0;
  height: 65vh;
  background-color: #e3e3e3;
}
.homepage .hero-section .animation-screen .container {
  height: 100% !important;
}
.homepage .hero-section .animation-screen .container .container {
  height: 100% !important;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .homepage .hero-section .animation-screen .container .container {
    width: 100% !important;
  }
}
.homepage .hero-section .animation-screen .container .container .donate-now h4 {
  width: 52%;
  font-weight: 600;
  color: #2b3990;
  font-size: 30px;
}
@media (max-width: 1400px) {
  .homepage .hero-section .animation-screen .container .container .donate-now h4 {
    width: 350px !important;
  }
}
@media (max-width: 1340px) {
  .homepage .hero-section .animation-screen .container .container .donate-now h4 {
    width: 300px !important;
  }
}
.homepage .hero-section .animation-screen .container .container .donate-now button {
  margin: 3rem 0;
  width: 220px;
  height: 70px;
  outline: none;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  background: #2b3990;
  background: linear-gradient(32deg, #2b3990 0%, #2b7634 100%);
  color: white;
  font-size: 20px;
  transition: background 0.3s ease-out;
}
.homepage .hero-section .animation-screen .container .container .donate-now button:hover {
  background-position-y: 70px;
}
.homepage .hero-section .animation-screen .container .container .donate-now div {
  display: flex;
}
.homepage .hero-section .animation-screen .container .container .donate-now div a {
  background-color: white;
  margin: 1rem 0.5rem;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px gray;
  transition: all 0.2s ease-in-out;
}
.homepage .hero-section .animation-screen .container .container .donate-now div a i {
  color: #2b3990;
  font-weight: 600;
}
.homepage .hero-section .animation-screen .container .container .donate-now div a:hover {
  margin: 0.5rem;
}
.homepage .hero-section .animation-screen .container .container .donate-now div a:hover i {
  transition: all 0.2s ease-in-out;
  color: #2b7634;
}
.homepage .hero-section .animation-screen .hero-hand-img {
  position: absolute;
  z-index: 3000;
  right: 30%;
  bottom: 0 !important;
}
@media (max-width: 1199px) {
  .homepage .hero-section .animation-screen .hero-hand-img {
    right: 30%;
  }
}
@media (max-width: 1023px) {
  .homepage .hero-section .animation-screen .hero-hand-img {
    right: 0;
    margin-right: 1rem;
  }
}
.homepage .hero-section .animation-screen .hero-hand-img img {
  height: 500px;
  max-width: 372px !important;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  .homepage .hero-section .animation-screen .hero-hand-img img {
    right: 28%;
  }
}
@media (max-width: 1199px) {
  .homepage .hero-section .animation-screen .hero-hand-img img {
    height: 400px;
  }
}
@media (max-width: 1023px) {
  .homepage .hero-section .animation-screen .hero-hand-img img {
    height: 500px;
  }
}
@media (max-width: 768px) {
  .homepage .hero-section .animation-screen .hero-hand-img img {
    height: 400px;
  }
}
.homepage .hero-section .animation-screen .hero-main-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}
@media (max-width: 1200px) {
  .homepage .hero-section .animation-screen .hero-main-img {
    width: 300px;
  }
}
@media (max-width: 1023px) {
  .homepage .hero-section .animation-screen .hero-main-img {
    display: none !important;
  }
}
.homepage .hero-section .animation-screen .hero-main-img div {
  background-color: #d2d5e5;
  height: 110%;
  width: 130%;
  border-radius: 2000px 0px 0px 900px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.homepage .hero-section .animation-screen .hero-main-img img {
  height: 100%;
  max-width: 405px !important;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 100;
  border-radius: 2000px 0px 0px 1000px;
}

.animation-remotecontrol {
  margin-bottom: 3rem;
  position: relative;
  z-index: 100;
  height: 200px !important;
  margin-top: -2rem;
}
.animation-remotecontrol .container {
  height: 100%;
}
.animation-remotecontrol .container .container {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation-remotecontrol .container .container:scrollbar {
  display: none !important;
}
.animation-remotecontrol .container .container div {
  transition: all 0.5s ease-in-out;
}
.animation-remotecontrol .container .container div.active svg {
  transform: scale(1.3);
  position: relative;
  z-index: 1;
}
.animation-remotecontrol .container .container div.active svg path {
  fill: #2b7634 !important;
}
.animation-remotecontrol .container .container div.active div {
  overflow: hidden;
  position: relative;
}
.animation-remotecontrol .container .container div.active div .circle {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
  z-index: 0;
  background-color: #2b7634;
  opacity: 0.5;
  border-radius: 50%;
}
.animation-remotecontrol .container .container div:hover svg path {
  fill: #2b7634 !important;
}
.animation-remotecontrol .container .container div div:not(.circle) {
  box-shadow: 0px 0px 5px gray;
  height: 100px;
  width: 87px !important;
  margin: -2rem 0.5rem 0;
  padding: 0.5rem;
  border-radius: 30px 30px 0 0;
  cursor: pointer;
  background-color: white;
}
.animation-remotecontrol .container .container div svg {
  height: 70px;
  width: 100%;
  margin: auto;
}
.animation-remotecontrol .container .container div svg path {
  fill: #2b3990;
  transition: all 0.4s ease-in-out;
}
.animation-remotecontrol .container .container div p {
  font-size: 11.5px;
  letter-spacing: 0px;
  margin-top: 1rem;
  text-align: center;
}

.aboutus-section {
  padding: 3rem 0;
  margin-bottom: 20rem;
  background-color: #e3e3e3;
}
.aboutus-section .container .container .about {
  display: flex;
}
.aboutus-section .container .container .about .about-text-video {
  width: 50%;
}
.aboutus-section .container .container .about .about-text-video h4 {
  color: #707070;
  font-weight: 700;
  margin: 2rem 0;
}
.aboutus-section .container .container .about .about-text-video p {
  max-width: 700px;
}
.aboutus-section .container .container .about .about-text-video ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
.aboutus-section .container .container .about .about-text-video ul li {
  margin: 0 !important;
  padding: 0 !important;
}
.aboutus-section .container .container .about .about-text-video ul li i {
  color: #2b3990 !important;
}
.aboutus-section .container .container .about .about-text-video .video {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutus-section .container .container .about .about-text-video .video > button {
  background: transparent !important;
  outline: none;
  border: 2px solid #2b3990;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative;
}
.aboutus-section .container .container .about .about-text-video .video > button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 65px;
  background-color: #2b3990;
  width: 1000px;
  height: 2px;
}
.aboutus-section .container .container .about .about-text-video .video > button i {
  color: #2b3990;
  font-size: 30px;
  text-align: center;
}
.aboutus-section .container .container .about .about-text-video .video h6 {
  display: inline-block;
  font-size: 12px;
  color: #2b3990;
  margin-left: 1rem;
}
.aboutus-section .container .container .about .about-text-video .video h6 span {
  border-bottom: 1px solid #2b3990;
}
.aboutus-section .container .container .about .about-images {
  display: flex;
  width: 70%;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.aboutus-section .container .container .about .about-images div:first-of-type {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}
.aboutus-section .container .container .about .about-images div:first-of-type img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  border-radius: 50px 0 50px 50px;
  box-shadow: 5px 5px 10px gray;
}
.aboutus-section .container .container .about .about-images div:nth-of-type(2) {
  flex-basis: 55%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
}
.aboutus-section .container .container .about .about-images div:nth-of-type(2) img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  border-radius: 50px 50px 50px 0px;
  box-shadow: 5px 5px 10px gray;
}
.aboutus-section .container .container .about .about-images div:last-of-type {
  flex-basis: 37%;
  display: flex;
  justify-content: flex-end;
  height: 300px;
}
.aboutus-section .container .container .about .about-images div:last-of-type img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 50px 50px 0px 50px;
  box-shadow: 5px 5px 10px gray;
}
.aboutus-section .container .container .success-stories {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: -15rem;
}
.aboutus-section .container .container .success-stories .success-stories-text {
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.aboutus-section .container .container .success-stories .success-stories-text h1 {
  color: #707070;
  font-weight: 700;
}
.aboutus-section .container .container .success-stories .success-stories-text p {
  margin: 3rem 0;
}
.aboutus-section .container .container .success-stories .success-stories-text button {
  margin-top: auto;
  align-self: flex-end;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #2b3990;
  width: 80px;
  height: 80px;
  font-size: 12px;
  color: #2b3990;
}
.aboutus-section .container .container .success-stories .success-stories-text button i {
  color: #2b3990;
}
.aboutus-section .container .container .success-stories .success-stories-video {
  width: 60%;
  display: flex;
  justify-content: center;
}
.aboutus-section .container .container .success-stories .success-stories-video div {
  width: 70%;
  padding: 3rem 1rem;
  background-color: white;
  box-shadow: 0px 0px 7px gray inset;
  border-radius: 30px;
}
.aboutus-section .container .container .success-stories .success-stories-video div video {
  width: 100%;
  height: 500px;
}

.best_moment {
  margin-bottom: 5rem;
  background-color: #e3e3e3;
  padding: 3rem;
}
.best_moment .container .container.col-10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.best_moment .container .container.col-10 h1 {
  text-align: center;
  color: #707070;
  margin-bottom: 2rem;
  font-weight: 700;
}
.best_moment .container .container.col-10 p {
  position: relative;
  width: 200px;
  text-align: center;
}
.best_moment .container .container.col-10 p::after {
  content: "";
  background-color: #2b3990;
  position: absolute;
  height: 2px;
  width: 70px;
  top: 50%;
  left: 0;
}
.best_moment .container .container.col-10 p::before {
  content: "";
  background-color: #2b3990;
  position: absolute;
  height: 2px;
  width: 70px;
  top: 50%;
  right: 0;
}
.best_moment .container .container.col-10 p i {
  transform: rotate(-90deg);
  color: #2b3990;
}
.best_moment .container .container.col-10 .before-after-slider {
  height: 500px !important;
}
.best_moment .container .container.col-10 .before-after-slider img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.best_moment .container .container.col-10 .before-after-slider .before-after-slider__delimiter {
  background-color: #2b3990 !important;
  width: 30px !important;
}
.best_moment .container .container.col-10 .before-after-slider .before-after-slider__delimiter > div .before-after-slider__delimiter-icon {
  border-radius: 0 0 0 0 !important;
  height: 100px !important;
  width: 30px !important;
  position: relative;
}
.best_moment .container .container.col-10 .before-after-slider .before-after-slider__delimiter > div .before-after-slider__delimiter-icon::before {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #2b3990;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=main.css.map */